.container{
    
    height: 200px;
    box-sizing: content-box;
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: 1fr 2fr 2fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 100px; */
    grid-template-rows: minmax(100px, auto);
}

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
}

.box3{
    background-color: green;
}

.box4{
    background-color: brown;
}

.box5{
    background-color: violet;
}

.box6{
    background-color: yellow;
}

.box7{
    background-color: aqua;
}

.box8{
    background-color: yellowgreen;
}